;    ___      ___                 _         
;   / _/_ _  / _/__  ___ _______ (_)______ _
;  / _/  ' \/ _/ _ \/ -_) __/ -_) / __/ _ `/
; /_//_/_/_/_// .__/\__/_/  \__/_/_/  \_,_/ 
;            /_/         
; debian server fail2ban ssh config.

[sshd]
enabled  = true
backend = systemd
maxretry = {{ fail2ban_ssh_max_retries }}
bantime = {{ fail2ban_ssh_bantime }}
